{% extends "people.html" %}
{% block title %}Global's Coronavirus Status{% endblock title %}
{% block breadcrumb %}
        <a href="/" class="breadcrumb">Home</a>
{% endblock breadcrumb %}
{% block mega_data %}
  <div class="container center">
    <div class="section">
    <h4 class="center">Coronavirus Data</h4>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center red-text darken-3">{{ infected }}</h3>
            <h5 class="center ">Confirmed</h5>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center green-text accent-3">{{ recovered }} </h3>
            <h5 class="center">Recovered</h5>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center blue-grey-text darken-3">{{ deaths }}</h3>
            <h5 class="center">Deaths</h5>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock mega_data %}